APP_ENV=prod

BINANCE_API_KEY=uUdF1I8QFPT5i3FxdVenULlplu3fugSnWmg8GxKZwCF51kEuGqQ19HSr1ilO3zs0
BINANCE_API_SECRET=GILTICkBtaj97esvdsikGRZkpkz8lw9S3QR2LgsaQOBlrA4Cf9CX8LMbS7fKmzXu
LEVERAGE=100
TP_ROE=2.0

STRATEGY=ml_probability

SYMBOLS="
LINKUSDT:50:0.8,
SOLUSDT:50:0.8,
BNBUSDT:50:0.2,
"

# SYMBOLS="
# BTCUSDT:20:0.8,
# BNBUSDT:20:0.8,
# ETHUSDT:40:0.8,
# BCHUSDT:20:0.8,
# XRPUSDT:50:0.8,
# LTCUSDT:20:0.8,
# TRXUSDT:30:0.8,
# ETCUSDT:20:0.8,
# SOLUSDT:50:0.8,
# LINKUSDT:50:0.8,
# XLMUSDT:30:0.2,
# ADAUSDT:40:0.2,
# XMRUSDT:30:0.2,
# DOGEUSDT:30:0.2,
# RUNEUSDT:30:0.2,
# DOTUSDT:40:0.2,
# AVAXUSDT:30:0.2,
# UNIUSDT:40:0.2,
# ARBUSDT:30:0.2,
# BATUSDT:30:0.2,
# ALGOUSDT:20:0.2,
# NEARUSDT:20:0.2,
# ZORAUSDT:20:0.2,
# MLNUSDT:20:0.2,
# FETUSDT:20:0.2,
# 4USDT:20:0.2,
# SNXUSDT:20:0.2,
# MORPHOUSDT:20:0.2,
# "

# SYMBOLS="
# BTCUSDT:20:0.99,
# "


BOT_INTERVAL_SEC=10
INT_TP_SUP_INTERVAL_MS=3000
INT_TP_SUP_CONCURRENCY=6
LOG_PRETTY=1
LOG_LEVEL="info"
LOG_TO_FILE=1
INT_TP_MIN_ROE=0.25
TIME_STOP_MIN_ROE=0.25

# BINANCE_API_KEY=B4Shg92I0tkqjPEVWveDGKKgCjZr8XoZCvi4l2NXxC7KJfXjxsXFVgCOfiFxi6M1
# BINANCE_API_SECRET=fngRQN3BLxezHDZYbmfqia1HaSDsddw0gc9yAS0eTHxbppJTVIWI9GVkMu2D1sId

# Optional dedicated testnet credentials
BINANCE_TESTNET_API_KEY=fQ411ZK6UxwFpBjVp1KNFJ5wPv0gsYfgyO8DoI6TJ9OJvdNgrFOVwDCKinnQTk2N
BINANCE_TESTNET_API_SECRET=egnT7CWQaJyO2YGlnl2zCWaWPVHY9UFZxI0p9kDkVGmTzQQ0DYQa8p6hULtmuRvY

ML_MODELS_ROOT=./models
ML_DATA_DIR=./data/ml/raw
ML_SYMBOL_MODELS=BTCUSDT@5m=BTCUSDT/5m;ETHUSDT@5m=ETHUSDT/5m;XRPUSDT@5m=XRPUSDT/5m
ML_DEFAULT_TIMEFRAME=5m
ML_HISTORY_DAYS=180
ML_TRAIN_HORIZON=12
ML_TRAIN_TARGET_RETURN=0.002